#cloud-config
hostname: {{ item.name }}
manage_etc_hosts: true
package_update: true
packages:
  - qemu-guest-agent
runcmd:
  - [systemctl, enable, --now, qemu-guest-agent]
{% if kvm_runners_effective_ssh_authorized_keys | length > 0 %}
users:
  - default
  - name: {{ kvm_runners_vm_user }}
    groups:
      - adm
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
{% for ssh_key in kvm_runners_effective_ssh_authorized_keys %}
      - {{ ssh_key | quote }}
{% endfor %}
{% endif %}
